Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
FaceLocation/[Dd]ebug*/
GeneratedFiles*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
FaceLocation.sdf
ipch*/
FaceLocation.opensdf
FaceLocation/mainwindow.h.BASE
FaceLocation/mainwindow.h.LOCAL
FaceLocation/mainwindow.h.REMOTE
FaceLocation/mainwindow.h.orig

testpic/res*

FaceLocation/data/colorMode0
FaceLocation/data/colorMode*/
FaceLocation/data/sketchMode*/
FaceLocation/temp*
testpic*/
testvideo*/

*.orig
